@import "./../variables";
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin-bottom: 16px;
  .title {
    font-weight: 800;
    margin-bottom: 24px;
    font-size: 46px;
    line-height: 56px;
    color: $black-primary;
  }
  input {
    margin-bottom: 67px;
    padding: 12px 16px;
    border-radius: 8px;
    background: #d9d9d9;
    width: 100%;
    height: 60px;
    font-size: 16px;
    border: none;
  }
  .btnWrapper {
    margin-bottom: 42px;
    button {
      background: #ff9900;
      border-radius: 18.5px;
      padding: 24px;
      border: none !important;
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 16px;
      // &
      &:last-child {
        background-color: #fff !important;
        color: #ff9900;
        border: 2px solid #ff9900 !important;
        margin-bottom: 0 !important;
      }
    }
  }
  .container {
    .randomPick {
      font-weight: 700;
      margin-bottom: 12px;
    }
    .randomWrapper {
      margin-bottom: 42px;
      display: flex;
      flex-flow: wrap;
      .randomOption {
        padding: 11px;
        margin-right: 12px;
        font-weight: 700;
        width: fit-content;
        border-radius: 32px;
        border: 2px solid #d9d9d9;
        border-radius: 24px;
        margin-bottom: 10px;
      }
    }
  }
}
