@import "./../variables";
.wrapper {
  .title {
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    color: $black-primary;
    margin-bottom: 67px;
  }
  .wrapperMenu {
    display: flex;
    justify-content: space-between;
    flex: 3;
    flex-flow: wrap;
    .container {
      width: 92px;
      margin-bottom: 28px;
      .menu {
        width: 95px;
        height: 95px;
        background: $grey-primary;
        border-radius: 53.5px;
        margin-bottom: 45px;
        margin-bottom: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .titleMenu {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: $black-primary;
      }
    }
  }
}
